# Dependencies
node_modules/

# Next.js build and output
.next/
dist/
build/

# Testing
coverage/

# Environment files
.env
.env.local
.env.production
.env.development

# Python caches and environments
__pycache__/
*.pyc
.venv/

# IDE and Editors
.vscode/
.idea/

# OS metadata
.DS_Store
